{% extends "layout.html" %}
{% block content %}
                <a class="nav-link my-2" href="/"><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Projects</a>
                <a class="nav-link my-2" href="/departments/"><div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>Departments</a>
                {% if user.designation=='Founder' %}
                <a class="nav-link my-2" href="/branches/"><div class="sb-nav-link-icon"><i class="fas fa-globe"></i></div>Branches</a>
                {% endif %}
                {% if user.designation=='Founder' %}
                <a class="nav-link my-2" href="/employee/admin"><div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>Employees</a>
                {% endif %}
                {% if user.designation=='Branch Head' %}
                <a class="nav-link my-2" href="/employee/branch_head"><div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>Employees</a>
                {% endif %}
                <a class="nav-link my-2" href="/register"><div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>Register an employee</a>
                <a class="nav-link my-2 active" href="/new"><div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>New registrations</a>
                <a class="nav-link my-2" href="/add"><div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>Create new project</a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{user.name}}
        </div>
    </nav>
</div>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
        <h1 class="display-3 my-4">New Registrations</h1>
        <hr class="my-4">
        {% for o in total_branches %}
        <h2 class="my-4">{{o.name}}</h2>
        <div class="card mb-4">
             <div class="card-header"><i class="fas fa-table mr-1"></i>New Employees</div>
                 <div class="card-body">
                     <div class="table-responsive">
                         <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Branch</th>
                                    <th>Assign</th>
                                    <th>Deny</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Branch</th>
                                    <th>Assign</th>
                                    <th>Deny</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for employee in employees %}
                                {% if employee.branch==o.name %}
                                <tr>
                                    <td>{{employee.name}}</td>
                                    <td>{{employee.email}}</td>
                                    <td>{{employee.phone_no}}</td>
                                    <td>{{employee.branch}}</td>
                                    <td>
                                        <a href="/new/assign/{{employee.id}}"><button type="button" class="btn btn-outline-primary">Assign</button></a>
                                    </td>
                                    <td>
                                        <a href="/new/deny/{{employee.id}}"><button type="button" class="btn btn-outline-danger">Deny</button></a>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
