<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Work Zone</title>
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <link rel = "icon" type = "image/png" href = "{{ url_for('static', filename='Company_logo.png') }}">
        <!-- For apple devices -->
        <link rel = "apple-touch-icon" type = "image/png" href = "{{ url_for('static', filename='Company_logo.png') }}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
        <script>
        $(document).ready(function(){
          $("#add").click(function(){
            $("#add_toggle").toggle();
          });
        });
        </script>
        <script>
        $(document).ready(function(){
          $("#add").click(function(){
            $("#add_icon").toggleClass("fa fa-chevron-down");
            $("#add_icon").toggleClass("fa fa-chevron-up");
          });
        });
        </script>
        <script>
        $(document).ready(function(){
          $("#add_report").click(function(){
            $("#add_report_toggle").toggle();
          });
        });
        </script>
        <script>
        $(document).ready(function(){
          $("#add_report").click(function(){
            $("#add_report_icon").toggleClass("fa fa-chevron-down");
            $("#add_report_icon").toggleClass("fa fa-chevron-up");
          });
        });
        </script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Scientificatt</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle fa-lg fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/profile">Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link my-2 active" href="/"><div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>Projects</a>
                {% if user.designation!='Employee' %}
                <a class="nav-link my-2" href="/departments/"><div class="sb-nav-link-icon"><i class="fas fa-building"></i></div>Departments</a>
                {% if user.designation=='Founder' %}
                <a class="nav-link my-2" href="/branches/"><div class="sb-nav-link-icon"><i class="fas fa-globe"></i></div>Branches</a>
                {% endif %}
                {% if user.designation=='Founder' %}
                <a class="nav-link my-2" href="/employee/admin"><div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>Employees</a>
                {% endif %}
                {% if user.designation=='Branch Head' %}
                <a class="nav-link my-2" href="/employee/branch_head"><div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>Employees</a>
                {% endif %}
                <a class="nav-link my-2" href="/register"><div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>Register an employee</a>
                <a class="nav-link my-2" href="/new"><div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>New registrations</a>
                <a class="nav-link my-2" href="/add"><div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>Create new project</a>
                {% endif %}
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{user.name}}
        </div>
    </nav>
</div>
<div id="layoutSidenav_content">
<main>
    <div class="container-fluid">
        <h1 class="display-3 my-4">{{projects.name}}</h1>
        <hr class="my-4">
        <div class="card">
            <div id="add_report" class="card text-center">
                <button type="button" class="btn btn-outline-dark">Add Report<i id="add_report_icon" class="fa fa-chevron-down float-right mt-1"></i></button>
            </div>
            <div id="add_report_toggle" style="display: none;" class="mt-2 px-3 py-3">
                <form method="POST" action="/dashboard/add_report/{{projects.sno}}/">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Report</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter report" name="report" required>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><button class="btn btn-primary" type="submit">Submit</button></div>
                </form>
            </div>
        </div>
        <br>
        {% if user.designation!='Employee' %}
        <div class="card">
            <div id="add" class="card text-center">
                <button type="button" class="btn btn-outline-dark">Add Employee<i id="add_icon" class="fa fa-chevron-down float-right mt-1"></i></button>
            </div>
            <div id="add_toggle" style="display: none;" class="mt-2 px-3 py-3">
                <form method="POST" action="/dashboard/add_employee/{{projects.sno}}/">
                    <div class="form-group">
                    <label for="exampleFormControlInput1">Employee</label>
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect04" name="add_employee" placeholder="Select Employee">
                                {% for o in employees %}
                                <option value="{{ o.name }}">{{ o.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><button class="btn btn-primary" type="submit"><i class="fa fa-plus mt-1"></i>  Add</button></div>
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-xl-6 col-md-6"> 
                <a href="/dashboard/edit/{{projects.sno}}" class="text-decoration-none">
                    <div class="card">
                        <div class="card text-center">
                            <button type="button" class="btn btn-outline-dark">Edit Project</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xl-6 col-md-6"> 
                <a href="/dashboard/delete/{{projects.sno}}" class="text-decoration-none">
                    <div class="card">
                        <div class="card text-center">
                            <button type="button" class="btn btn-outline-dark">Delete Project</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endif %}
        <div class="row px-5 mt-5">
            <div class="card bg-dark text-white mb-3" style="width: 72rem;">
              <div class="card-header"><h4>Branch</h4></div>
              <div class="card-body bg-light text-dark">
                <p class="card-text">{{projects.branch}}</p>
              </div>
            </div>
            <div class="card bg-dark text-white mb-3" style="width: 72rem;">
              <div class="card-header"><h4>Department</h4></div>
              <div class="card-body bg-light text-dark">
                <p class="card-text">{{projects.department}}</p>
              </div>
            </div>
            <div class="card bg-dark text-white mb-3" style="width: 72rem;">
              <div class="card-header"><h4>Start Date</h4></div>
              <div class="card-body bg-light text-dark">
                <p class="card-text">{{projects.date}}</p>
              </div>
            </div>
            <div class="card bg-dark text-white mb-3" style="width: 72rem;">
              <div class="card-header"><h4>Status</h4></div>
              <div class="card-body bg-light text-dark">
                <p class="card-text">{{projects.status}}</p>
              </div>
            </div>
            <div class="card bg-dark text-white mb-3" style="width: 72rem;">
              <div class="card-header"><h4>Description</h4></div>
              <div class="card-body bg-light text-dark">
                <p class="card-text">{{projects.description}}</p>
              </div>
            </div>
        </div>
        <div class="row px-5">
            <div class="card mb-4" style="width: 72rem;">
                <div class="card-header bg-dark text-white"><h4><i class="fas fa-table mr-1"></i>Assigned Employees</h4></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    {% if user.designation!='Employee' %}
                                    <th>Delete</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Employee Name</th>
                                    {% if user.designation!='Employee' %}
                                    <th>Delete</th>
                                    {% endif %}
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for i in listempnames %}
                                <tr>
                                    <td>{{i}}</td>
                                    {% if user.designation!='Employee' %}
                                    <td>
                                        <a href="/dashboard/delete_employee/{{projects.sno}}/{{i}}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row px-5">
            <div class="card mb-4" style="width: 72rem;">
                <div class="card-header bg-dark text-white"><h4><i class="fas fa-table mr-1"></i>Project Reports</h4></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Report</th>                                   
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Report</th>
                                    <th>Delete</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for i in listrep %}
                                <tr>
                                    <td>{{i}}</td>
                                    <td>
                                        <a href="/dashboard/delete_report/{{projects.sno}}/{{i}}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</main>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
